<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<footer th:fragment="footer"
		class="bg-secondary text-white text-center py-3 mt-auto">
		<div class="container">
			<p class="mb-0">Lương Quang Lâm - MSSV:23110121</p>
		</div>
		<div class="container">
			<a href="https://github.com/QuangLam0208/spring-thymeleaf-demo.git" target="_blank"
				class="text-white text-decoration-none"> <i
				class="fa-brands fa-github"> Github:</i>
				https://github.com/QuangLam0208/spring-thymeleaf-demo.git
			</a>
		</div>
	</footer>
</body>
</html>